node_modules/
dist/
.env
.env.local
*.log
.DS_Store
coverage/
.vitest/

openrouter
grok 
openai 
claude
notion 
n8n
krea
gemini
wix
freepic
topaz
nanobanana
gemini
lumalabs
midourney
higgsfield
comfyui
weavy


